@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --accent: #EA918D;
    --accentHover: #DE8A86;
    --dark: #304659;
    --dark80: rgba(48,70,89,0.8);
    --dark60: rgba(48,70,89,0.6);
    --light: #F5F9FC;
    --transition: all 0.3s ease 0s;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    background-color: #F5F9FC;
}

p, a, button {
    font-family: "Lato", sans-serif;
    color: var(--black);
    text-decoration: none;
}

a, button, .logo {
    cursor: pointer;
}

main {
    height:100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
    grid-template-rows: 25% 100px auto;
}

header {
    grid-column: 2 / span 6;
}

nav {
    display:flex;
    align-items: center;
    height: 120px;
    padding-top: 300;
}

.links {
    margin-left: auto;
}

.links a, .links button {
    font-size: 1.0625rem;
    font-weight: 400;
    transition: var(--transition);
}

.links a {
    margin-right: 50px;
}

.links a:hover {
    color: var(--accent);
}

.loginButton {
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
    border-radius: 20px;
}

.loginButton:hover {
    background-color: var(--accentHover);
}

.algos {
    grid-column: 3 / span 1;    
}

.algos:hover {
    cursor: pointer;
}

.two {
    grid-column: 3 / span 1;  
    grid-row: 4;
}

.two:hover {
    cursor: pointer;
}

/* If you like this, be sure to ❤️ it. */
.wrapper {
    height: 100vh;
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */

} 
.wrapper a {
display: inline-block;
text-decoration: none;
padding: 15px;
background-color: #fff;
border-radius: 3px;
text-transform: uppercase;
color: #585858;
font-family: 'Roboto', sans-serif;
}  
.modal {
visibility: hidden;
opacity: 0;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
background: rgba(77, 77, 77, .7);
transition: all .4s;
}

.modal:target {
visibility: visible;
opacity: 1;
}

.modal__content {
border-radius: 4px;
position: relative;
width: 1400px;
max-width: 100%;
background: #fff;
padding: 1em 2em;
}

.modal__close {
position: absolute;
top: 10px;
right: 10px;
color: #585858;
text-decoration: none;
}

.data1 {
    width: 1200px;
    height: auto;
}

.data2 {
    width: 1200px;
    height: auto;
}

.investdiv {
    display: flex;
    justify-content: space-between;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 8em
  }

.invest {
    text-align:center;
}

.investButton {
    display: flex;
    justify-content: space-between;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--accent);
    padding: 12px 75px;
    margin-top: 10px;
    margin-left: 620px;
    transition: var(--transition);
    border-radius: 20px;
    font-size: 13px;
    color:white;
}

.investButton:hover {
    background-color: var(--accentHover);
}

.input:focus {
    background-color: var(--accent);
}

.input {
    box-sizing: border-box;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.check {
    display: flex;
    justify-content: space-between;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.success {
    text-align:center;
    font-family: "Lato", sans-serif;
    padding-top: 0px;
    font-weight: 700;
    font-size: 4.375rem;
}